body {
    background-image: url("../images/bg.png");
}
.body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 960px;
    line-height: 20px;
    margin:0 auto;
    padding-top: 8px;
}
#cont{
    position: static;
    width:960px;
    margin: 0 auto;
    height: 70px;
    padding-left: 0;
    padding-right: 0;
}
#About,
#Portfolio,
#Contact{
    float: right;
    margin-left: 10px;
    z-index: 2;
}
#name{
    position: relative;
    padding: 20px;
    background-color: teal;
    font-size: 30px;
    padding-top: 30px;
    top:0;
    font-weight: bold;
    color: white;
}
#banner{ 
    background:white;
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    height:70px;
    background-size:100%;
    top: -8px;
    z-index: -1; 
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
#ame{
    position: relative;
    margin-top: 80px;
    width:920px;
    background-color: white;
    color:teal;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    padding-bottom: 100px;
}
#am{
    position: relative;
    margin-top: 80px;
    width:920px;
    background-color: white;
    color:teal;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
}
#me{
    margin-top:20px
}
#line{
    width:80%;
    height: 10px;
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
}
#me{
    float:left;
    margin: 0px 20px;
}
#me1{
    color: gray;
    font-weight: normal;
    font-size: 14px;
    word-spacing: 5px;
}
#footer{ 
    background:teal;
    position:fixed;
    margin: 0;
    left: 0;
    right: 0;
    height:50px;
    background-size:100%;
    bottom: 0; 
}
#footerover{
    background:darkgray;
    position:fixed;
    margin: 0;
    left: 0;
    right: 0;
    height:40px;
    background-size:100%;
    bottom: 0; 
    text-align: center;
    color: red;
    font-size: 12px; 
}
a{
    text-decoration: none;
    color: gray
}
#form{
    font-weight: normal;
    font-size: 18px;
    color: grey;
}
#pname,
#pe{
    width: 100%;
    height: 20px;
}
.pm{
    height: 100px;
    width: 100%;
    resize: none;
}
.MG{
    width: 150px;
    background-color: teal;
    font-size: 18px;;
    position: absolute;
    color: white;
    text-align: center;
    margin-top: 115px;
}
.ML{
    width: 150px;
    background-color: teal;
    font-size: 18px;;
    position: absolute;
    color: white;
    text-align: center;
    margin-top: 115px;
    margin-left: 350px;
}
.MR{
    width: 150px;
    background-color: teal;
    font-size: 18px;;
    position: absolute;
    color: white;
    text-align: center;
    margin-top: -40px;
}
.ri{
    float:left;

    margin-right: 200px;
    z-index: -1;
    font-weight: lighter;
}
.pf{
    margin-left: 20px;
    font-weight: normal;
}
#amp{
    position: relative;
    margin-top: 80px;
    width:920px;
    background-color: white;
    color:teal;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    padding-bottom: 150px;
}